.classe1 {
    ul {
        background-color: darkgray;
    }
    li {
        background-color: brown;
        padding: 5px;
    }
    button {
        background-color: darkviolet;
        color: white;
        padding: 5px;
        cursor: pointer;
        
        &:hover {
            background-color: darkgoldenrod;
            transition: 0.4s;
        }
    }
}